page-passwordchange {
  .btn{
    width:60%;
    margin: auto;
    display: block;
  }

  .card1{
    width: 100%;
    height: auto;

  }
  .bgd{
    background-image: url('../assets/imgs/loginbackground.jpg');
      background-repeat:no-repeat;
      background-size:cover;
  }
}
