<!--
  Generated template for the PasswordchangePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar transparent>

  </ion-navbar>
</ion-header>

<ion-content padding class="bgd">
<ion-card class="card1">
    <ion-card-header>
        <ion-label text-wrap>An otp will be sent to your email address</ion-label>
      </ion-card-header>

    <ion-card-content>
        <!-- <ion-label text-wrap>An otp will be sent to your email address</ion-label> -->
      <ion-item *ngIf="email">
        <ion-input placeholder="email"></ion-input>
      </ion-item>

      <ion-item *ngIf="otp">
          <ion-input placeholder="enter otp"></ion-input>
        </ion-item>


      <ion-item *ngIf="pass">
          <ion-input placeholder="new password"></ion-input>
        </ion-item>


      <ion-item *ngIf="pass">
          <ion-input placeholder="confirm password"></ion-input>
        </ion-item>

    </ion-card-content>
</ion-card>
<div *ngIf="btn1">
<button ion-button class="btn" (click)="fncbtn1()">send otp</button>
</div>

<div *ngIf="btn2">
<button ion-button class="btn" (click)="fncbtn2()">save</button>
</div>

</ion-content>
