<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar transparent>

    </ion-navbar>
  </ion-header>

  <ion-content padding class="bd"><br/>
      <form [formGroup]="myForm" >
          <h3 style="text-align: center; color: white">Sign-Up Form </h3>
        <ion-list>


              <ion-card class="card">
                  <ion-item>
              <ion-input type="text"  placeholder="Name" formControlName="name" [(ngModel)] = "name"></ion-input>
            </ion-item>
          </ion-card>

            <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.Name">
            <div class="error-message" *ngIf="myForm.get('name').hasError(validation.type) && (myForm.get('name').dirty || myForm.get('name').touched)">
            {{ validation.message }}
            </div>
            </ng-container>
        </div>

        <ion-card class="card">
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email" [(ngModel)] = "email"></ion-input>
    </ion-item>
    </ion-card>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.Email">
        <div class="error-message" *ngIf="myForm.get('email').hasError(validation.type) && (myForm.get('email').dirty || myForm.get('email').touched)">
      {{ validation.message }}
        </div>
      </ng-container>
  </div>

  <ion-card class="card">
  <ion-item>

      <ion-input type="tel" placeholder="mobile" formControlName="mobile" [(ngModel)] = "mobile"></ion-input>
    </ion-item>
</ion-card>

<div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.Mobile">
        <div class="error-message" *ngIf="myForm.get('mobile').hasError(validation.type) && (myForm.get('mobile').dirty || myForm.get('mobile').touched)">
      {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-card class="card">
    <ion-item>
      <ion-input type="text"  placeholder="Password"formControlName="pass" [(ngModel)] = "password"></ion-input>
    </ion-item>
</ion-card>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.Password">
          <div class="error-message" *ngIf="myForm.get('pass').hasError(validation.type) && (myForm.get('pass').dirty || myForm.get('pass').touched)">
        {{ validation.message }}
          </div>
        </ng-container>
  </div>
  <ion-card class="card">
  <ion-item>
    <ion-input type="text" placeholder="Confirm Password" formControlName="conpass" [(ngModel)] = "conpassword"></ion-input>
  </ion-item>
</ion-card>
  <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.Password">
        <div class="error-message" *ngIf="myForm.get('conpass').hasError(validation.type) && (myForm.get('conpass').dirty || myForm.get('conpass').touched)">
      {{ validation.message }}
        </div>
      </ng-container>
  </div>



  <ion-list radio-group formControlName="gender" [(ngModel)] = "gender">

        <ion-label class="selects" color="light">Gender</ion-label>
          <ion-row>
        <ion-col col-6>
        <ion-item class="card">
          <ion-label>male</ion-label>
          <ion-radio value="male"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item class="card">
          <ion-label>female</ion-label>
          <ion-radio value="female"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    </ion-list>

  </ion-list>

  <button ion-button block [disabled]="!myForm.valid">Sign-Up</button>
  </form>
  </ion-content>
